/* Mobile First Defaults */
html{font-size: 32px;}
ol{display: flex; flex-wrap: wrap;} 
li{width: 100%;}
img{width: 100%;}

/* Big Screens */
@media only screen and (min-device-width: 480px) {
  html{font-size: 16px;}
  li {width:50%;}
  img {width: 100px;}
}